/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* import tailwindcss */
@import "tailwindcss";

/* font setup */

@layer utilities{
    .font-inter{
        font-family: "Inter", sans-serif;
    }
    .font-noto{
        font-family: "Noto Serif", serif;
    }
}

.deals-img-1{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('./assets/deal-bloom.png') ;
}

.deals-img-2{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('./assets/deal-zabo.png') ;
}
.deals-img-3{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('./assets/deal-ana.png') ;
}